<div class="panel msg" ng-class="{'panel-info':$ctrl.msgData.isVerification}" style="{{$ctrl.msgData.bgColor}}" ng-if="$ctrl.msgData.data">
  <div class="message-panel" ng-class="{ 'panel-body': !$ctrl.msgData.isVerification, 'panel-heading': $ctrl.msgData.isVerification || $ctrl.msgData.isUnverification }">
    <p class="">
      <span class="mar-left5 pull-right" ng-class="$ctrl.msgData.iconStyle" ng-repeat="n in $ctrl.msgData.iconCount track by $index"></span>
      <span class="mar-left5 pull-right fa fa-refresh" uib-tooltip="Pending" ng-if="$ctrl.msgData.local"></span>
      <strong>
        <a ui-sref="identities.show({ type: $ctrl.msgData.linkToAuthor[0], value: $ctrl.msgData.linkToAuthor[1] })" class="id-link">
          <identicon identity="$ctrl.msgData.author" class="" border="3" width="35" positive-score="$ctrl.msgData.author_pos" negative-score="$ctrl.msgData.author_neg"></identicon>
          <span ng-bind="($ctrl.msgData.authorIsSelf && ($ctrl.pageInfo.name || $ctrl.pageInfo.nickname))||$ctrl.msgData.author_name||$ctrl.msgData.linkToAuthor[1]"></span>
        </a>
      </strong>
      <small><i class="glyphicon glyphicon-play"></i></small>
      <a ui-sref="identities.show({ type: $ctrl.msgData.linkToRecipient[0], value: $ctrl.msgData.linkToRecipient[1] })" ng-bind="($ctrl.msgData.recipientIsSelf && ($ctrl.pageInfo.name || $ctrl.pageInfo.nickname))||$ctrl.msgData.recipient_name||$ctrl.msgData.linkToRecipient[1]" class="id-link"></a>
       - <a ui-sref="messages.show({ id: ($ctrl.msgData.ipfs_hash || $ctrl.msgData.hash) })" ng-bind="$ctrl.msgData.data.timestamp|date:'medium'" class="text-muted small" style="display:inline-block;"></a>
    </p>

    <p ng-if="$ctrl.msgData.isVerification || $ctrl.msgData.isUnverification">
      <small ng-repeat="recipient in $ctrl.msgData.data.recipient">
        {{recipient[0]}}:
        <span ng-if="recipient[0] == 'email' || recipient[0] == 'url'" ng-bind-html="recipient[1] | linky"></span>
        <span ng-if="!(recipient[0] == 'email' || recipient[0] == 'url')" ng-bind="recipient[1]"></span>
        <i class="fa fa-link" ng-if="!$last && $ctrl.msgData.isVerification"></i>
        <i class="fa fa-chain-broken" ng-if="!$last && $ctrl.msgData.isUnverification"></i>
      </small>
    </p>

    <p ng-bind-html="$ctrl.msgData.data.comment|linky"></p>
  </div>
</div>
