<div ng-init="newEntry = {}" class="container mar-bot30" ng-controller="IdentitiesController">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Add public entry</h3>
      <div class="panel panel-danger" ng-if="error">
        <div class="panel-heading" ng-bind="error"></div>
      </div>
      <div class="panel panel-info" ng-hide="authentication.user">
        <div class="panel-heading">Please log in to add entries.</div>
      </div>
      <form class="form" name="addEntryForm" ng-submit="addEntry($event, newEntry)">
        <div class="form-group">
          <label for="idName">Name *</label>
          <input type="text" required autofocus id="idName" focus-on="idNameFocus" name="idName" ng-model="newEntry.name" class="form-control">
        </div>
        <div class="form-group" ng-class="{ 'has-error': addEntryForm.idEmail.$invalid }">
          <label for="idEmail">Email</label>
          <input type="email"
                  id="idEmail"
                  name="idEmail"
                  ng-model="newEntry.email"
                  class="form-control">
        </div>
        <div class="form-group" ng-class="{ 'has-error': addEntryForm.idPhone.$invalid }">
          <label for="idPhone">Phone number</label>
          <input  type="text"
                  name="idPhone"
                  id="idPhone"
                  ng-pattern="phoneRegex"
                  ng-model="newEntry.phone"
                  class="form-control">
          <p class="help-block">International format, no special characters other than leading +</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': addEntryForm.idUrl.$invalid }">
          <label for="idUrl">Url</label>
          <input type="url" id="idUrl" name="idUrl" ng-model="newEntry.url" class="form-control">
          <p class="help-block">Social media profile or other personal url</p>
        </div>
        <button class="btn btn-primary"
        ng-disabled="!(authentication.user && (newEntry.email || newEntry.url || newEntry.phone) && !(addEntryForm.idName.$invalid || addEntryForm.idEmail.$invalid || addEntryForm.idPhone.$invalid || addEntryForm.idUrl.$invalid))">
          Add public entry</button>
        <p class="help-block">More details can be added afterwards.</p>
      </form>
    </div>
</div>
