<div class="container no-padding-xs">
  <section>
    <div class="mar-top25-xs"></div>
    <div ng-if="!query.term" ng-include="'app/main/getstarted.partial.html'"></div>

    <table id="search-results" class="table table-hover" infinite-scroll="search(query.term)" infinite-scroll-distance="1" infinite-scroll-disabled="true">
      <tbody>
        <tr ng-class="{active: ids.activeKey == -1}" ui-sref="identities.create" class="search-result-row">
          <td class="gravatar-col align-center"><span style="line-height:46px" class="glyphicon glyphicon-plus"></span></td>
          <td>
            <a ui-sref="identities.create">Add contact<span ng-if="query.term">: <span ng-bind="capitalizeWords(query.term)"></span></span></a>
          </td>
        </tr>
        <tr ng-repeat="result in ids.list|orderBy:result.data.trustDistance" id="result{{$index}}" ui-sref="identities.show({ type: result.linkTo.type, value: result.linkTo.value })" class="search-result-row" ng-class="{active: result.active}">
          <td class="gravatar-col"><identicon identity="result" border="3" width="50" positive-score="result.pos" negative-score="result.neg" ipfs="ipfs"></identicon></td>
          <td>
            <span ng-if="result.data.trustDistance == 0" class="label label-default pull-right">viewpoint</span>
            <span ng-if="result.data.trustDistance > 0" ng-bind="result.data.trustDistance | ordinal" class="label label-default pull-right"></span>
            <a ng-bind-html="result.primaryName|highlight:query.term" ui-sref="identities.show({ type: result.linkTo.type, value: result.linkTo.value })"></a>
            <span class="glyphicon glyphicon-ok-sign" style="color:#337ab7" ng-if="result.verified"></span>
            <small ng-if="!(result.mostVerifiedAttributes.type||result.mostVerifiedAttributes.nickname)" class="list-group-item-text">
              <span ng-bind-html="result.data.attrs.type.type|highlight:query.term"></span>
            </small><br>
            <small>
              <span ng-if="result.nickname" ng-bind-html="result.nickname|highlight:query.term" class="mar-right10"></span>
              <span ng-if="result.profile.email" class="mar-right10">
                <span class="glyphicon glyphicon-envelope"></span> <span ng-bind-html="result.profile.email|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.facebook" class="mar-right10">
                <span class="fa fa-facebook"></span> <span ng-bind-html="result.profile.facebook|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.twitter" class="mar-right10">
                <span class="fa fa-twitter"></span> <span ng-bind-html="result.profile.twitter|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.googlePlus" class="mar-right10">
                <span class="fa fa-google-plus"></span> <span ng-bind-html="result.profile.googlePlus|highlight:query.term"></span>
              </span>
              <span ng-if="result.mostVerifiedAttributes.bitcoin" class="mar-right10">
                <span class="fa fa-bitcoin"></span> <span ng-bind-html="result.mostVerifiedAttributes.bitcoin.attribute.val|highlight:query.term"></span>
              </span>
            </small>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info text-center" ng-if="!ids.list.length">
      No results
    </div>
  </section>

</div>
