<div class="container">
  <section >
    <div class="mar-top40-xs"></div>
    <div ng-if="!query.term && !authentication.user" class="jumbotron">
      <div class="align-center"><h1>Global address book</h1></div>

      <div class="row">
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-book fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-book"></i> Keep your contacts and trusted online identity up-to-date.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-thumbs-up fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-thumbs-up"></i> Find out who said what about a person or an organization.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-check fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-check"></i> Show content from trusted and real identities only.</p></div></div>
      </div>
    </div>

    <table id="search-results" class="table table-hover" infinite-scroll="search(query.term)" infinite-scroll-distance="2" infinite-scroll-disabled="!ids.query.$resolved || ids.finished">
      <tbody>
        <tr ng-repeat="result in ids.list" id="result{{$index}}" ng-hide="!result.linkTo" ui-sref="identities.show({ type: result.linkTo.type, value: result.linkTo.value })" class="search-result-row" ng-class="{active: result.active}">
          <td class="gravatar-col"><identicon id="result" border="3" width="46" positive-score="result.pos" negative-score="result.neg"></identicon></td>
          <td><a ng-bind-html="result.name|highlight:query.term" ui-sref="identities.show({ type: result.linkTo.type, value: result.linkTo.value })"></a>
            <small ng-if="!result.name" class="list-group-item-text">
              <span ng-bind-html="result[0][0]|highlight:query.term"></span>
            </small><br>
            <small>
              <span ng-if="result.nickname" ng-bind-html="result.nickname|highlight:query.term" class="mar-right10"></span>
              <span ng-if="result.email" class="mar-right10">
                <span class="glyphicon glyphicon-envelope"></span> <span ng-bind-html="result.email|highlight:query.term"></span>
              </span>
              <span ng-if="result.facebook" class="mar-right10">
                <span class="fa fa-facebook"></span> <span ng-bind-html="result.facebook|highlight:query.term"></span>
              </span>
              <span ng-if="result.twitter" class="mar-right10">
                <span class="fa fa-twitter"></span> <span ng-bind-html="result.twitter|highlight:query.term"></span>
              </span>
              <span ng-if="result.googlePlus" class="mar-right10">
                <span class="fa fa-google-plus"></span> <span ng-bind-html="result.googlePlus|highlight:query.term"></span>
              </span>
              <span ng-if="result.bitcoin" class="mar-right10">
                <span class="fa fa-bitcoin"></span> <span ng-bind-html="result.bitcoin|highlight:query.term"></span>
              </span>
            </small>
            <span ng-if="result.distance == 0" class="label label-default pull-right">viewpoint</span>
            <span ng-if="result.distance > 0" ng-bind="result.distance | ordinal" class="label label-default pull-right"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info text-center" ng-if="ids.query.$resolved && !ids.list.length">
      No results
    </div>
  </section>

</div>
