<div class="container no-padding-xs">
  <section>
    <div class="mar-top25-xs"></div>
    <div ng-if="!query.term && !authentication.user" class="jumbotron">
      <div class="align-center"><h1>Global address book</h1></div>

      <div class="row">
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-book fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-book"></i> Keep your contacts and trusted online identity up-to-date.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-thumbs-up fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-thumbs-up"></i> Find out who said what about a person or an organization.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-check fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-check"></i> Show content from trusted and real identities only.</p></div></div>
      </div>

      <p class="align-center mar-top15" style="margin-bottom:0"><a ui-sref="about">Read more</a></p>
    </div>

    <div ng-if="apiReady && !query.term && authentication.user && !ids.loading && ids.list.length <= 1" class="alert alert-info text-center">
      <p>Welcome to Identifi! Start by <b><a ui-sref="identities.create">adding entries</a></b> or by asking for your friends' Identifi profile urls to connect to.</p>
      <p>Alternatively, you can trust this Identifi distribution's <b><a ui-sref="identities.show({type:'keyID', value:defaultIndexKeyID})">default address book</a></b> as a starting point.</p>
    </div>

    <table id="search-results" class="table table-hover" infinite-scroll="search(query.term)" infinite-scroll-distance="2" infinite-scroll-disabled="!apiReady || ids.loading || ids.finished">
      <tbody>
        <tr ng-class="{active: ids.activeKey == -1}" ui-sref="identities.create" class="search-result-row">
          <td class="gravatar-col align-center"><span style="line-height:46px" class="glyphicon glyphicon-plus"></span></td>
          <td>
            <a ui-sref="identities.create">Add entry<span ng-if="query.term">: <span ng-bind="capitalizeWords(query.term)"></span></span></a>
          </td>
        </tr>
        <tr ng-repeat="result in ids.list" id="result{{$index}}" ui-sref="identities.show({ type: result.linkTo.name, value: result.linkTo.val })" class="search-result-row" ng-class="{active: result.active}">
          <td class="gravatar-col"><identicon identity="result" border="3" width="50" positive-score="result.pos" negative-score="result.neg" ipfs="ipfs"></identicon></td>
          <td>
            <span ng-if="result.data.trustDistance == 0" class="label label-default pull-right">viewpoint</span>
            <span ng-if="result.data.trustDistance > 0" ng-bind="result.data.trustDistance | ordinal" class="label label-default pull-right"></span>
            <a ng-bind-html="result.primaryName|highlight:query.term" ui-sref="identities.show({ type: result.linkTo.name, value: result.linkTo.val })"></a>
            <span class="glyphicon glyphicon-ok-sign" style="color:#337ab7" ng-if="result.verified"></span>
            <small ng-if="!(result.mostVerifiedAttributes.name||result.mostVerifiedAttributes.nickname)" class="list-group-item-text">
              <span ng-bind-html="result.data.attrs[0].name|highlight:query.term"></span>
            </small><br>
            <small>
              <span ng-if="result.nickname" ng-bind-html="result.nickname|highlight:query.term" class="mar-right10"></span>
              <span ng-if="result.profile.email" class="mar-right10">
                <span class="glyphicon glyphicon-envelope"></span> <span ng-bind-html="result.profile.email|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.facebook" class="mar-right10">
                <span class="fa fa-facebook"></span> <span ng-bind-html="result.profile.facebook|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.twitter" class="mar-right10">
                <span class="fa fa-twitter"></span> <span ng-bind-html="result.profile.twitter|highlight:query.term"></span>
              </span>
              <span ng-if="result.profile.googlePlus" class="mar-right10">
                <span class="fa fa-google-plus"></span> <span ng-bind-html="result.profile.googlePlus|highlight:query.term"></span>
              </span>
              <span ng-if="result.mostVerifiedAttributes.bitcoin" class="mar-right10">
                <span class="fa fa-bitcoin"></span> <span ng-bind-html="result.mostVerifiedAttributes.bitcoin.attribute.val|highlight:query.term"></span>
              </span>
            </small>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info text-center" ng-if="apiReady && !ids.loading && !ids.list.length">
      No results
    </div>
  </section>

</div>
