<div class="container">
  <div ng-controller="IdentitiesController">
    <section class="cover-container">
      <div class="cover" parallax-background parallax-ratio="-0.2" ng-style="coverPhoto"></div>
      <div class="container hidden-xs hidden-sm">
        <div class="heading-row row">
          <div class="col-md-8 col-md-offset-3">
            <h4>
              <span ng-bind="idValue" id="id-value"></span>
              <small class="text-muted">
                <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
                <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
              </small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <ul class="list-inline tab-list">
              <li ng-if="isUniqueType">
                <a href="" ng-class="{ active: tabs[0].active }" ng-click="tabs[0].active = true"><span class="hidden-xs">Received </span>({{0+stats[0].received_positive+stats[0].received_neutral+stats[0].received_negative}})</a>
              </li>
              <li ng-if="isUniqueType">
                <a href="" ng-class="{ active: tabs[1].active }" ng-click="tabs[1].active = true"><span class="hidden-xs">Sent </span>({{0+stats[0].sent_positive+stats[0].sent_neutral+stats[0].sent_negative}})</a>
              </li>
              <li>
                <a href="" ng-class="{ active: tabs[2].active }" ng-click="tabs[2].active = true"><span class="hidden-xs">Identity </span>(<span ng-show="connections.$resolved && connections.length > 0" ng-bind="connections.length - 1"></span><span ng-hide="connections.$resolved">0</span>)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section ng-init="findOne()">
      <div class="row">
        <div class="col-md-3 id-left-column">
        <div ng-if="isUniqueType">
        <div>
          <p class="hidden-md hidden-lg" ng-hide="!stats[0].name">
            <span ng-bind="idValue" id="id-value"></span>
            <small class="text-muted">
              <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
              <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
            </small>
          </p>
          <div class="stats-box">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <p>
                  <a ng-href="" data-toggle="tooltip" data-placement="right"><img ng-src="{{profilePhotoUrl}}" width="230" height="230" class="img-thumbnail mar-right5"></a>
                </p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 mar-bot10 mar-top10">
                <h4>
                  <span class="visible-xs visible-sm" ng-if="!(info.name||info.nickname)">
                    <span ng-bind="idValue"></span>
                    <small class="text-muted">
                      <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
                      <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
                    </small>
                  </span>
                  <span ng-bind="info.name||info.nickname"></span>
                  <span ng-hide="!info.nickname || !info.name || info.nickname === info.name">
                    (<span class="text-muted" ng-bind="info.nickname"></span>)
                  </span>
                  <span ng-if="distance == 0" class="label label-default pull-right">viewpoint</span>
                  <span ng-if="distance > 0" ng-bind="distance | ordinal" class="label label-default pull-right"></span>
                </h4>
                <p>

                </p>
                <p>
                  <b ng-if="stats[0].received_positive">Received: <span ng-bind="stats[0].received_positive / (stats[0].received_positive+stats[0].received_neutral+stats[0].received_negative) * 100 | number:0"></span>% positive<br></b>
                  <span ng-if="stats[0].sent_positive">Sent: <span ng-bind="stats[0].sent_positive / (stats[0].sent_positive+stats[0].sent_neutral+stats[0].sent_negative) * 100 | number:0"></span>% positive</span>
                </p>
                <!--
                <p class="received-stats">
                  <div><strong>Received</strong></div>
                  <div>
                    <strong>
                      <span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span ng-bind="stats[0].received_positive">-</span></span>
                      <span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span ng-bind="stats[0].received_neutral">-</span></span>
                      <span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span ng-bind="stats[0].received_negative">-</span></span>
                    </strong>
                  </div>
                </p>
                <p>
                  <div>Sent</div>
                  <div>
                    <span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span ng-bind="stats[0].sent_positive">-</span></span>
                    <span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span ng-bind="stats[0].sent_neutral">-</span></span>
                    <span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span ng-bind="stats[0].sent_negative">-</span></span>
                  </div>
                </p> -->
                <div ng-if="isUniqueType" class="mar-top10 quick-contact">
                  <ul class="list-unstyled">
                    <li ng-repeat="id in connections" ng-if="id.quickContact"><a ng-href="{{id.link}}"><span ng-class="id.iconStyle"></span><span ng-bind="id.linkName || id.value"></span></a></li>
                    <li>
                      <span class="fa fa-calendar"></span>First seen: <span ng-if="stats[0].first_seen" ng-bind="stats[0].first_seen|date:'mediumDate'"></span><span ng-if="!stats[0].first_seen">-</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="isUniqueType && trustedBy.length > 0" class="stats-box mar-bot10">
        <h5>Trusted by</h5>
        <a ng-repeat="id in trustedBy" class="trusted-by mar-right5 mar-bot5" ui-sref="identities.show({ type: id.linkTo[0], value: id.linkTo[1] })" title="">
          <img alt="" src="https://www.gravatar.com/avatar/{{id.gravatar}}?d=retro&amp;s=120" height=60 class="gravatar" uib-tooltip="{{ id.name || id.linkTo[1] }}">
          <span class="distance" ng-bind="id.distance | ordinal"></span>
        </a>
      </div>

        </div>
        <div class="col-md-8 id-right-column">
          <!-- Nav tabs -->
          <uib-tabset>
            <uib-tab active="tabs[0].active" ng-if="isUniqueType">
              <uib-tab-heading>Received <br class="visible-xs">({{0+stats[0].received_positive+stats[0].received_neutral+stats[0].received_negative}})</uib-tab-heading>

              <div ng-show="authentication.user" class="panel panel-default panel-success">
                <div class="panel-heading visible-xs">
                    <h3 class="panel-title"><a data-toggle="collapse" data-target="#write-feedback"><span class="glyphicon glyphicon-chevron-down"></span> Write feedback</a></h3>
                </div>
                <div class="panel-body collapse in" id="write-feedback">
                  <form ng-controller="MessagesController" ng-submit="create($event, { type: 'rating', rating: newMessage.rating, comment: newMessage.comment })">
                    <div class="form-group">
                      <textarea name="comment" class="form-control" id="comment" ng-model="newMessage.comment" placeholder="Write feedback"></textarea>
                    </div>

                    <div class="row">
                      <div class="col-sm-10 col-xs-12 rating-slider" id="write-msg-slider">
                        <slider ng-model="newMessage.rating" uib-tooltip="hide" min="-3" max="3" step="1"></slider>
                        <span class="hidden-xs write-msg-icons mar-left5">
                          <span ng-repeat="i in iconCount(newMessage.rating) track by $index" class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5" ng-class="[iconStyle(newMessage.rating), iconClass(newMessage.rating)]"></span>
                        </span>
                      </div>
                      <div class="col-sm-2 col-xs-12" style="text-align:right">
                        <span class="visible-xs pull-left write-msg-icons">
                          <span ng-repeat="i in iconCount(newMessage.rating) track by $index" class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5" ng-class="[iconStyle(newMessage.rating), iconClass(newMessage.rating)]"></span>
                        </span>
                        <button type="submit" class="pull-right ladda-button btn btn-primary" data-style="zoom-out"><span class="ladda-label"><span class="fa fa-edit"></span> Publish</span><span class="ladda-spinner"></span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div infinite-scroll="getReceivedMsgs()" infinite-scroll-distance="2" infinite-scroll-disabled="!received.$resolved || received.finished || !tabs[0].active">
                <div class="panel">
                  <div class="filters">
                    <ul class="nav nav-pills msg-type-filter">
                      <li ng-class="{active: (filters.type === null) }" ng-click="setFilters({ type: null })"><a><span class="glyphicon glyphicon-home"></span> All</a></li>
                      <li ng-class="{active: (filters.type === 'rating'), hidden: true }" ng-click="setFilters({type: 'rating'})"><a><span class="glyphicon glyphicon-thumbs-up"></span> Rating</a></li>
                      <li ng-class="{active: (filters.type === 'rating:positive') }" ng-click="setFilters({type: 'rating:positive'})"><a><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="hidden-xs">Pos<span class="hidden-md">itive</span></span> ({{0+stats[0].received_positive}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:neutral') }" ng-click="setFilters({type: 'rating:neutral'})"><a><span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span class="hidden-xs">Neut<span class="hidden-md">ral</span></span> ({{0+stats[0].received_neutral}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:negative') }" ng-click="setFilters({type: 'rating:negative'})"><a><span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span class="hidden-xs">Neg<span class="hidden-md">ative</span></span> ({{0+stats[0].received_negative}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'verify_identity') }" ng-click="setFilters({type:'verify_identity'})"><a><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">Verification</span></a></li>
                      <!-- <li ><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
                    </ul>
                  </div>
                </div>
                <div class="panel" ng-repeat="msg in received" style="{{msg.bgColor}}" ng-include="'app/messages/message.partial.html'"></div>
              </div>
              <div ng-if="received.$resolved && received.length == 0" class="alert alert-info text-center">No messages to show</div>
              <div ng-if="!received.$resolved" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
            <uib-tab active="tabs[1].active" ng-if="isUniqueType">
              <uib-tab-heading>Sent ({{0+stats[0].sent_positive+stats[0].sent_neutral+stats[0].sent_negative}})</uib-tab-heading>
              <div infinite-scroll="getSentMsgs()" infinite-scroll-distance="2" infinite-scroll-disabled="!sent.$resolved || sent.finished || !tabs[1].active">
                <div class="panel">
                  <div class="filters">
                    <ul class="nav nav-pills msg-type-filter">
                      <li ng-class="{active: (filters.type === null) }" ng-click="setFilters({ type: null })"><a><span class="glyphicon glyphicon-home"></span> All</a></li>
                      <li ng-class="{active: (filters.type === 'rating'), hidden: true }" ng-click="setFilters({type: 'rating'})"><a><span class="glyphicon glyphicon-thumbs-up"></span> Rating</a></li>
                      <li ng-class="{active: (filters.type === 'rating:positive') }" ng-click="setFilters({type: 'rating:positive'})"><a><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="hidden-xs">Pos<span class="hidden-md">itive</span></span> ({{0+stats[0].sent_positive}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:neutral') }" ng-click="setFilters({type: 'rating:neutral'})"><a><span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span class="hidden-xs">Neut<span class="hidden-md">ral</span></span> ({{0+stats[0].sent_neutral}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:negative') }" ng-click="setFilters({type: 'rating:negative'})"><a><span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span class="hidden-xs">Neg<span class="hidden-md">ative</span></span> ({{0+stats[0].sent_negative}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'verify_identity') }" ng-click="setFilters({type:'verify_identity'})"><a><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">Verification</span></a></li>
                      <!-- <li ><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
                    </ul>
                  </div>
                </div>
                <div class="panel" ng-repeat="msg in sent" style="{{msg.bgColor}}" ng-include="'app/messages/message.partial.html'"></div>
              </div>
              <div ng-if="sent.$resolved && sent.length == 0" class="alert alert-info text-center">No messages to show</div>
              <div ng-if="!sent.$resolved" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
            <uib-tab active="tabs[2].active" ng-if="true">
                <uib-tab-heading>Id<span class="hidden-xs">entity</span> (<span ng-show="connections.$resolved && connections.length > 0" ng-bind="connections.length - 1"></span><span ng-hide="connections.$resolved"></span>)</uib-tab-heading>
                <div id="connections">
                  <!-- <input id="authenticity_token" name="authenticity_token" type="hidden" value="z1JM7ffnFK7gOv6S3yzG9UFyakukYHikAU94/3TcT2o="> -->
                  <table class="table truncated-table table-hover">
                    <tbody>
                      <tr ng-repeat-start="id in connections" ng-if="!id.isCurrent" style="{{id.rowStyle}}" ng-class="id.rowClass" ng-click="connectionClicked($event, id)" class="id-row">
                        <td style="width: 60px">
                          <a ng-if="id.iconStyle&&id.link" class="pull-left btn btn-lg btn-social-icon" ng-class="id.btnStyle" ng-href="{{id.link}}"><span ng-class="id.iconStyle"></span></a>
                          <span ng-if="id.iconStyle&&!id.link" class="pull-left btn btn-lg btn-social-icon" ng-class="id.btnStyle" ng-href="{{id.link}}"><span ng-class="id.iconStyle"></span></a>
                          <span class="visible-xs pull-right">
                            <button autocomplete="off" ng-controller="MessagesController" name="confirm" class="ladda-button btn btn-default btn-confirm" ng-click="create($event, { type: 'verify_identity', recipientType: idType, recipientValue: idValue, recipientType2: id.name, recipientValue2: id.value }, id)" ng-disabled="!authentication.user" data-style="zoom-out"><span class="ladda-label"><span class="positive glyphicon glyphicon-ok"></span> {{id.confirmations}}</span><span class="ladda-spinner"></span></button>
                            <button autocomplete="off" ng-controller="MessagesController" name="unverify" class="ladda-button btn btn-default btn-unverify" ng-click="create($event, { type: 'unverify_identity', recipientType: idType, recipientValue: idValue, recipientType2: id.name, recipientValue2: id.value }, id)" ng-disabled="!authentication.user" data-style="zoom-out"><span class="ladda-label"><span class="negative glyphicon glyphicon-remove"></span> {{id.refutations}}</span><span class="ladda-spinner"></span></button>
                          </span>
                        </td>
                        <td colspan="3">
                          <a ui-sref="identities.show({ type: id.name, value: id.value })" data-id-type="{{id.name}}" data-id-value="{{id.value}}" ng-bind="id.linkName || id.value" class="id-link"></a><br>
                          <small ng-bind="id.name"></small>
                        </td>
                        <!--<td>
                          <input class="form-control linkedComment" type="text" placeholder="comment" disabled>
                        </td>-->
                        <td class="hidden-xs">
                          <button autocomplete="off" ng-controller="MessagesController" name="confirm" class="ladda-button btn btn-default btn-confirm" ng-click="create($event, { type: 'verify_identity', recipientType: idType, recipientValue: idValue, recipientType2: id.name, recipientValue2: id.value }, id)" ng-disabled="!authentication.user" data-style="zoom-out"><span class="ladda-label"><span class="positive glyphicon glyphicon-ok"></span> {{id.confirmations}}</span><span class="ladda-spinner"></span></button>
                          <button autocomplete="off" ng-controller="MessagesController" name="unverify" class="ladda-button btn btn-default btn-unverify" ng-click="create($event, { type: 'unverify_identity', recipientType: idType, recipientValue: idValue, recipientType2: id.name, recipientValue2: id.value }, id)" ng-disabled="!authentication.user" data-style="zoom-out"><span class="ladda-label"><span class="negative glyphicon glyphicon-remove"></span> {{id.refutations}}</span><span class="ladda-spinner"></span></button>
                        </td>
                      </tr>
                      <tr ng-repeat-end uib-collapse="!id.collapse" ng-if="!id.isCurrent" class="active connectingmsgs">
                        <td class="connectingmsgs ladda-button" data-style="zoom-in" data-spinner-color="#000" colspan="5">
                          <div ng-repeat="msg in id.connecting_msgs" class="animated fadeIn confirmation-panel">
                            <span class="has-success">
                              <span ng-if="msg.data.type === 'verify_identity'">
                                <span class="positive glyphicon glyphicon-ok hidden-xs mar-left5 pull-right"></span>
                                <span class="positive glyphicon glyphicon-ok visible-xs mar-right10"></span>
                              </span>
                              <span ng-if="msg.data.type === 'unverify_identity'">
                                <span class="negative glyphicon glyphicon-remove hidden-xs mar-left5 pull-right"></span>
                                <span class="negative glyphicon glyphicon-remove visible-xs mar-right10"></span>
                              </span>
                              <strong>
                                <a ui-sref="identities.show({ type: msg.linkToAuthor[0], value: msg.linkToAuthor[1] })" class="id-link">
                                  <img alt="" src="https://www.gravatar.com/avatar/{{msg.gravatar}}?d=retro&amp;s=30" class="img-rounded mar-right5">
                                  <span ng-bind="msg.authorName||msg.data.author[0][1]"></span>
                                </a>
                              </strong>
                               - <a ui-sref="messages.show({ id: msg.hash })" ng-bind="msg.data.timestamp|date:'mediumDate'" class="text-muted small" style="display:inline-block;"></a>

                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr class="active add-row" ng-controller="MessagesController">
                        <td></td>
                        <td colspan="3">
                          <input id="addValue" ng-model="newConnection.value" class="form-control" name="linkedValue" type="text" placeholder="value" ng-disabled="!authentication.user">
                          <input id="addType" ng-model="newConnection.type" class="form-control" name="linkedType" type="text" placeholder="type" ng-disabled="!authentication.user">
                        </td>
                        <!--<td><input id="addComment" class="form-control" name="linkedComment" type="text" placeholder="comment" disabled></td> -->
                        <td><button autocomplete="off" id="addButton" ng-click="create($event, { type: 'verify_identity', recipientType: idType, recipientValue: idValue, recipientType2: newConnection.type, recipientValue2: newConnection.value }, { confirmations: 0, refutations: 0, type: newConnection.type, value: newConnection.value })" class="ladda-button btn btn-default" data-style="zoom-out" ng-disabled="!authentication.user"><span class="ladda-label"><span class="glyphicon glyphicon-plus"></span> Add</span><span class="ladda-spinner"></span></button></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div ng-if="!connections.$resolved" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </section>
  </div>
</div>
