<section class="cover-container">
  <div class="cover" parallax-background parallax-ratio="-0.2" ng-style="coverPhoto"></div>
  <div class="container hidden-xs hidden-sm">
    <div class="heading-row row">
      <div class="col-md-8 col-md-offset-3">
        <h4>
          <span ng-bind="idValue" id="id-value"></span>
          <small class="text-muted">
            <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
            <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
          </small>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul class="list-inline tab-list">
          <li ng-if="isUniqueType">
            <a href="" ng-class="{ active: activeTab == 0 }" ng-click="activateTab(0)"><span class="hidden-xs">Received </span>({{0+identity.receivedPositive+identity.receivedNeutral+identity.receivedNegative || received.length}})</a>
          </li>
          <li ng-if="isUniqueType">
            <a href="" ng-class="{ active: activeTab == 1 }" ng-click="activateTab(1)"><span class="hidden-xs">Sent </span>({{0+identity.sentPositive+identity.sentNeutral+identity.sentNegative || sent.length}})</a>
          </li>
          <li>
            <a href="" ng-class="{ active: activeTab == 2 }" ng-click="activateTab(2)"><span class="hidden-xs">Identity </span>(<span ng-bind="connectionsLength || 0"></span>)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div>
    <section>
      <div class="row">
        <div class="col-md-3 id-left-column">
        <div ng-if="isUniqueType">
        <div>
          <p class="hidden-md hidden-lg" ng-hide="!stats.name">
            <span ng-bind="idValue" id="id-value"></span>
            <small class="text-muted">
              <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
              <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
            </small>
          </p>
          <div class="stats-box">
            <div class="row">
              <div class="col-xs-12">
                <p class="align-center">
                  <identicon identity="identity"
                    border="4"
                    show-distance="0"
                    width="230">
                  </identicon>
                  <!-- <a ng-href="" class="circle {{profileImageCircleClass}}">
                    <span class="arc"></span>
                    <img ng-src="{{profilePhotoUrl}}" width="230" height="230" class="profile-image mar-right5">
                  </a> -->
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h4>
                  <span class="visible-xs visible-sm" ng-if="!(identity.mostVerifiedAttributes.name||identity.mostVerifiedAttributes.nickname)">
                    <span ng-bind="idValue"></span>
                    <small class="text-muted">
                      <span ng-hide="idType === 'url'" ng-bind="idType" id="id-type"></span>
                      <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" id="id-type"></a>
                    </small>
                  </span>
                  <span ng-bind="identity.primaryName"></span>
                  <span ng-hide="!identity.nickname || identity.nickname == identity.primaryName">
                    (<span class="text-muted" ng-bind="identity.nickname"></span>)
                  </span>
                  <span ng-if="identity.trustDistance == 0" class="label label-default pull-right">viewpoint</span>
                  <span ng-if="identity.trustDistance > 0 && identity.trustDistance < 1000" ng-bind="identity.trustDistance | ordinal" class="label label-default pull-right"></span>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12 mar-bot10 mar-top10">
                <p>
                  <b>Received:
                    <span ng-if="identity.receivedPositive || identity.receivedNegative">
                      <span ng-bind="identity.receivedPositive / (identity.receivedPositive+identity.receivedNeutral+identity.receivedNegative) * 100 | number:0">
                      </span>% positive
                    </span>
                    <span ng-if="!(identity.receivedPositive || identity.receivedNegative)">
                      &mdash;
                    </span>
                  </b><span ng-if="identity.sentPositive || identity.sentNegative"><br>
                  Sent:
                  <span ng-if="identity.sentPositive || identity.sentNegative">
                    <span ng-bind="identity.sentPositive / (identity.sentPositive+identity.sentNeutral+identity.sentNegative) * 100 | number:0">
                    </span>% positive
                  </span>
                  <span ng-if="!(identity.sentPositive || identity.sentNegative )">
                    &mdash;
                  </span></span>
                </p>
                <!--
                <p class="received-stats">
                  <div><strong>Received</strong></div>
                  <div>
                    <strong>
                      <span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span ng-bind="identity.receivedPositive">-</span></span>
                      <span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span ng-bind="identity.receivedNeutral">-</span></span>
                      <span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span ng-bind="identity.receivedNegative">-</span></span>
                    </strong>
                  </div>
                </p>
                <p>
                  <div>Sent</div>
                  <div>
                    <span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <span ng-bind="identity.sentPositive">-</span></span>
                    <span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <span ng-bind="identity.sentNeutral">-</span></span>
                    <span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <span ng-bind="identity.sentNegative">-</span></span>
                  </div>
                </p> -->
                <div ng-if="isUniqueType" class="mar-top10 quick-contact">
                  <ul class="list-unstyled">
                    <li ng-repeat="id in connections" ng-if="id.quickContact"><a ng-href="{{id.link}}"><span ng-class="id.iconStyle"></span><span ng-bind="id.linkName || id.val"></span></a></li>
                    <li ng-if="stats.first_seen">
                      <span class="fa fa-calendar"></span>First seen:
                       <span ng-if="stats.first_seen" ng-bind="stats.first_seen|date:'mediumDate'"></span>
                       <span ng-if="!stats.first_seen">&mdash;</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12 mar-top10">
                <div ng-if="isUniqueType && hasThumbsUp" class="stats-box mar-bot10">
                  <h5>Thumbs up</h5>
                  <a ng-repeat="msg in thumbsUp | orderBy:'authorTrustDistance'"
                    ng-class="{ 'hidden-xs': $index > 3, 'hidden-sm': $index > 4 }"
                    class="mar-right5 mar-bot5"
                    ui-sref="identities.show({ type: msg.linkToAuthor[0], value: msg.linkToAuthor[1] })"
                    title=""
                    uib-tooltip="{{ msg.author_name || msg.linkToAuthor[1] }}"><identicon identity="msg.author" class="no-glow" border="3" width="60"></identicon></a>
                </div>

                <div ng-if="isUniqueType && hasThumbsDown" class="stats-box mar-bot10">
                  <h5>Thumbs down</h5>
                  <a ng-repeat="msg in thumbsDown | orderBy:'authorTrustDistance'"
                  ng-class="{ 'hidden-xs': $index > 3, 'hidden-sm': $index > 4 }"
                  class="mar-right5 mar-bot5"
                  ui-sref="identities.show({ type: msg.linkToAuthor[0], value: msg.linkToAuthor[1] })"
                  title=""
                  uib-tooltip="{{ msg.author_name || msg.linkToAuthor[1] }}"><identicon identity="msg.author" class="no-glow" border="3" width="60"></identicon></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden-xs" ng-include="'app/messages/distance-selector.partial.html'"></div>


    </div>
        <div class="col-md-8 id-right-column">
          <!-- Nav tabs -->
          <uib-tabset active="activeTab">
            <uib-tab ng-if="isUniqueType">
              <uib-tab-heading>
                <span class="hidden-xs">Received ({{0+identity.receivedPositive+identity.receivedNeutral+identity.receivedNegative}})</span>
                <span class="visible-xs">Recv ({{0+identity.receivedPositive+identity.receivedNeutral+identity.receivedNegative}})</span>
              </uib-tab-heading>

              <div ng-show="authentication.user" class="panel panel-default panel-success">
                <div class="panel-body" id="write-feedback">
                  <form ng-controller="MessagesController" ng-submit="createMessage($event, { type: 'rating', rating: newMessage.rating, comment: newMessage.comment, recipient: [[idType, idValue]] })">
                    <div class="form-group">
                      <textarea name="comment" class="form-control" id="comment" ng-model="newMessage.comment" placeholder="Write feedback"></textarea>
                    </div>

                    <div class="row">
                      <div class="col-sm-10 col-xs-12 rating-slider" id="write-msg-slider">
                        <rzslider rz-slider-model="newMessage.rating" rz-slider-options="slider.options" min="-3" max="3" step="1"></rzslider>
                        <span class="hidden-xs write-msg-icons mar-left5">
                          <span ng-repeat="i in iconCount(newMessage.rating) track by $index" class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5" ng-class="[iconStyle(newMessage.rating), iconClass(newMessage.rating)]"></span>
                        </span>
                      </div>
                      <div class="col-sm-2 col-xs-12" style="text-align:right">
                        <span class="visible-xs pull-left write-msg-icons">
                          <span ng-repeat="i in iconCount(newMessage.rating) track by $index" class="write-msg-icon glyphicon glyphicon-thumbs-up mar-left5" ng-class="[iconStyle(newMessage.rating), iconClass(newMessage.rating)]"></span>
                        </span>
                        <button type="submit" class="pull-right ladda-button btn btn-primary" data-style="zoom-out"><span class="ladda-label"><span class="fa fa-edit m"></span> Publish</span><span class="ladda-spinner"></span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div infinite-scroll="getReceivedMsgs()" infinite-scroll-listen-for-event="msgScrollCheck" infinite-scroll-distance="2" infinite-scroll-disabled="!apiReady || !identity || received.loading || received.finished || activeTab != 0">
                <div class="panel">
                  <div class="filters">
                    <ul class="nav nav-pills msg-type-filter">
                      <li ng-class="{active: (filters.type === null) }" ng-click="setFilters({ type: null })"><a>All</a></li>
                      <li ng-class="{active: (filters.type === 'rating'), hidden: true }" ng-click="setFilters({type: 'rating'})"><a><span class="glyphicon glyphicon-thumbs-up"></span> Rating</a></li>
                      <li ng-class="{active: (filters.type === 'rating:positive') }" ng-click="setFilters({type: 'rating:positive'})"><a><span class="positive"><span class="visible-xs-inline glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs">Pos<span class="hidden-md">itive</span></span> ({{0+identity.receivedPositive}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:neutral') }" ng-click="setFilters({type: 'rating:neutral'})"><a><span class="neutral"><span class="visible-xs-inline glyphicon glyphicon-question-sign"></span><span class="hidden-xs">Neut<span class="hidden-md">ral</span></span> ({{0+identity.receivedNeutral}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:negative') }" ng-click="setFilters({type: 'rating:negative'})"><a><span class="negative"><span class="visible-xs-inline glyphicon glyphicon-thumbs-down"></span><span class="hidden-xs">Neg<span class="hidden-md">ative</span></span> ({{0+identity.receivedNegative}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'verify_identity') }" ng-click="setFilters({type:'verify_identity'})"><a><span class="visible-xs-inline glyphicon glyphicon-ok"></span><span class="hidden-xs">Verification</span></a></li>
                      <!-- <li ><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
                    </ul>
                  </div>
                </div>
                <message msg-data="msg" page-info="identity" ng-repeat="msg in received | filter:msgFilter | orderBy:'-data.timestamp' as receivedFiltered" ng-click="openMessage($event, msg, 'lg')"></message>
              </div>
              <div ng-if="apiReady && !isCurrentUser && !received.loading && receivedFiltered.length == 0" class="alert alert-info text-center">No messages to show</div>
              <div ng-if="apiReady && isCurrentUser && !received.loading && received.length == 0" class="alert alert-warning text-center">
                <i class="fa fa-info pull-right"></i>
                <p>You have not received any trust ratings yet.</p>
                <p>You need trust ratings to have your messages saved and displayed by others.</p>
                <p>You can also ask someone to verify that this account belongs to your already trusted identity.</p>
                <p><button ng-click="copyIdLink()" class="btn btn-primary">Copy link to this page</button></p>
              </div>
              <div ng-if="received.loading" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
            <uib-tab ng-if="isUniqueType">
              <uib-tab-heading>Sent ({{0+identity.sentPositive+identity.sentNeutral+identity.sentNegative}})</uib-tab-heading>
              <div infinite-scroll="getSentMsgs()" infinite-scroll-listen-for-event="msgScrollCheck" infinite-scroll-distance="2" infinite-scroll-disabled="!apiReady || !identity || sent.loading || sent.finished || activeTab != 1">
                <div class="panel">
                  <div class="filters">
                    <ul class="nav nav-pills msg-type-filter">
                      <li ng-class="{active: (filters.type === null) }" ng-click="setFilters({ type: null })"><a>All</a></li>
                      <li ng-class="{active: (filters.type === 'rating'), hidden: true }" ng-click="setFilters({type: 'rating'})"><a><span class="visible-xs-inline glyphicon glyphicon-thumbs-up"></span>Rating</a></li>
                      <li ng-class="{active: (filters.type === 'rating:positive') }" ng-click="setFilters({type: 'rating:positive'})"><a><span class="positive"><span class="visible-xs-inline glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs">Pos<span class="hidden-md">itive</span></span> ({{0+identity.sentPositive}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:neutral') }" ng-click="setFilters({type: 'rating:neutral'})"><a><span class="neutral"><span class="visible-xs-inline glyphicon glyphicon-question-sign"></span><span class="hidden-xs">Neut<span class="hidden-md">ral</span></span> ({{0+identity.sentNeutral}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'rating:negative') }" ng-click="setFilters({type: 'rating:negative'})"><a><span class="negative"><span class="visible-xs-inline glyphicon glyphicon-thumbs-down"></span><span class="hidden-xs">Neg<span class="hidden-md">ative</span></span> ({{0+identity.sentNegative}})</span></a></li>
                      <li ng-class="{active: (filters.type === 'verify_identity') }" ng-click="setFilters({type:'verify_identity'})"><a><span class="visible-xs-inline glyphicon glyphicon-ok"></span><span class="hidden-xs">Verification</span></a></li>
                      <!-- <li ><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
                    </ul>
                  </div>
                </div>
                <message msg-data="msg" page-info="identity" ng-repeat="msg in sent | filter:msgFilter | orderBy:'-data.timestamp' as sentFiltered" ng-click="openMessage($event, msg, 'lg')"></message>
              </div>
              <div ng-if="!sent.loading && sentFiltered.length == 0" class="alert alert-info text-center">No messages to show</div>
              <div ng-if="sent.loading" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
            <uib-tab ng-if="true">
                <uib-tab-heading>Id<span class="hidden-xs">entity</span> (<span ng-show="connections.$resolved && connectionsLength > 0" ng-bind="connectionsLength - 1"></span><span ng-hide="connections.$resolved"></span>)</uib-tab-heading>
                <div id="connections">
                  <!-- <input id="authenticity_token" name="authenticity_token" type="hidden" value="z1JM7ffnFK7gOv6S3yzG9UFyakukYHikAU94/3TcT2o="> -->
                  <table class="table truncated-table table-hover">
                    <tbody>
                      <tr ng-repeat-start="id in connections" style="{{id.rowStyle}}" ng-class="id.rowClass" ng-click="!id.isCurrent && connectionClicked($event, id)" class="id-row">
                        <td>
                          <div class="visible-xs mar-bot5">
                            <a ui-sref="identities.show({ type: id.name, value: id.val })" ng-bind="id.linkName || id.val" class="id-link"></a>
                            <br>
                            <small ng-bind="id.name"></small>
                          </div>
                          <div>
                            <a style="min-width:45px" class="pull-left btn btn-lg btn-social-icon mar-right15" ng-class="id.btnStyle" ng-href="{{id.link}}">
                              <span ng-class="id.iconStyle"></span>
                              <span ng-if="id.iconStyle&&!id.link" class="pull-left btn btn-lg btn-social-icon" ng-class="id.btnStyle" ng-href="{{id.link}}">
                              <span ng-class="id.iconStyle"></span>
                            </a>
                            <div class="hidden-xs pull-left">
                              <a ui-sref="identities.show({ type: id.name, value: id.val })" ng-bind="id.linkName || id.val" class="id-link"></a>
                              <br>
                              <small ng-bind="id.name"></small>
                            </div>
                            <!--
                              <input class="form-control linkedComment" type="text" placeholder="comment" disabled>
                            -->
                            <div class="pull-right" ng-if="!id.isCurrent">
                              <button autocomplete="off" name="confirm" class="ladda-button btn btn-default btn-confirm" ng-click="createMessage($event, { type: 'verify_identity', recipient: [[idType, idValue], [id.name, id.val]] }, id)" ng-disabled="!authentication.user" uib-tooltip="Verify" data-style="zoom-out">
                                <span class="positive glyphicon glyphicon-ok"></span> {{id.conf}}
                              </button>
                              <button autocomplete="off" name="unverify" class="ladda-button btn btn-default btn-unverify" ng-click="createMessage($event, { type: 'unverify_identity', recipient: [[idType, idValue], [id.name, id.val]] }, id)" ng-disabled="!authentication.user" uib-tooltip="Unverify" data-style="zoom-out">
                                <span class="negative glyphicon glyphicon-remove"></span> {{id.ref}}
                              </button>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </td>
                      </tr>
                      <tr ng-repeat-end ng-if="!id.isCurrent" class="active connectingmsgs">
                        <td class="connectingmsgs ladda-button" data-style="zoom-in" data-spinner-color="#000">
                          <div uib-collapse="!id.collapse">
                            <div ng-repeat="msg in id.connecting_msgs" ng-click="openMessage($event, msg, 'lg')" class="confirmation-panel">
                                <span ng-if="msg.data.type === 'verify_identity'">
                                  <span class="positive glyphicon glyphicon-ok hidden-xs mar-left5 pull-right"></span>
                                  <span class="positive glyphicon glyphicon-ok visible-xs-inline-block mar-right10"></span>
                                </span>
                                <span ng-if="msg.data.type === 'unverify_identity'">
                                  <span class="negative glyphicon glyphicon-remove hidden-xs mar-left5 pull-right"></span>
                                  <span class="negative glyphicon glyphicon-remove visible-xs-inline-block mar-right10"></span>
                                </span>
                                <strong>
                                  <a ui-sref="identities.show({ type: msg.linkToAuthor[0], value: msg.linkToAuthor[1] })" class="id-link">
                                    <identicon identity="msg" class="mar-right5" border="3" width="30" positive-score="msg.author_pos" negative-score="msg.author_neg"></identicon>
                                    <span ng-bind="msg.author_name||msg.data.author[0][1]"></span>
                                  </a>
                                </strong>
                                 - <span ng-bind="msg.data.timestamp|date:'mediumDate'" class="text-muted small" style="display:inline-block;"></span>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="active add-row">
                        <td>
                          <input id="addValue" ng-model="newVerification.value" class="form-control" name="linkedValue" type="text" placeholder="value" ng-disabled="!authentication.user">
                          <input id="addType" ng-model="newVerification.type" class="form-control" name="linkedType" type="text" placeholder="type" ng-disabled="!authentication.user">
                        <!--<td><input id="addComment" class="form-control" name="linkedComment" type="text" placeholder="comment" disabled></td> -->
                          <button autocomplete="off" id="addButton" ng-click="createMessage($event, { type: 'verify_identity', recipient: [[idType, idValue], [newVerification.type, newVerification.value]] }, { conf: 0, ref: 0, name: newVerification.type, val: newVerification.value })" class="ladda-button btn btn-default" data-style="zoom-out" ng-disabled="!authentication.user"><span class="ladda-label"><span class="glyphicon glyphicon-plus"></span> Add</span><span class="ladda-spinner"></span></button>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div ng-if="!connections.$resolved" style="position:relative;padding:20px" us-spinner></div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </section>
  </div>
</div>
