<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default mar-top15">
    <div class="panel-heading">
      <!--<div class="checkbox">
        <label>
          <input type="checkbox" value="" checked="checked">
          Remember me
        </label>
      </div>-->
      <h3>New user</h3>
      <form ng-submit="createUser(newUserName)">
        <input focus-on="newUser" type="text" class="form-control" ng-model="newUserName" placeholder="Your name"><br>
        <input type="submit" value="Create user" class="btn btn-primary" ng-disabled="!newUserName">
      </form>
      <br>
      <h3>Existing user</h3>
      <form>
        <textarea rows="6" class="form-control" placeholder="Paste private key or drop file" ng-model="privateKeySerialized"></textarea><br>
        <button class="btn btn-primary" ng-disabled="!privateKeySerialized" ng-click="loginWithKey(privateKeySerialized, publicKeyPEM)">Log in</button>
      </form>
    </div>
  </div>
</div>
