<div class="alert alert-info">
  Viewing as:
  <strong ng-if="viewpoint">
    <a ui-sref="identities.show({ type: viewpoint.linkTo.name, value: viewpoint.linkTo.val })" class="id-link">
      <span class="distance-container mar-right5 mar-left5">
        <identicon ipfs="ipfs" identity="viewpoint" class="" border="3" width="35"></identicon>
      </span>
      <span ng-bind="viewpoint.mostVerifiedAttributes.name.attribute.val"></span>
    </a>
  </strong>
  <br class="hidden-sm">
  Max distance from viewpoint:
  <span class="btn-group trust-distance-selector">
    <button type="button" class="btn btn-default" ng-click="setFilters({max_distance: -1})" ng-class="{active: filters.max_distance === -1}" uib-tooltip="Distance filter off">✕</button>
    <button type="button" class="btn btn-default" ng-click="setFilters({max_distance: 1})" ng-class="{active: filters.max_distance === 1}">1</button>
    <button type="button" class="btn btn-default" ng-click="setFilters({max_distance: 2})" ng-class="{active: filters.max_distance === 2}">2</button>
    <button type="button" class="btn btn-default" ng-click="setFilters({max_distance: 3})" ng-class="{active: filters.max_distance === 3}">3</button>
    <button type="button" class="btn btn-default" ng-click="setFilters({max_distance: 0})" ng-class="{active: filters.max_distance === 0}" uib-tooltip="Unlimited">∞</button>
  </span>
</div>
