<div class="container">
  <section>
    <div ng-if="!authentication.user" class="jumbotron">
      <div class="align-center"><h1>Social networking freedom</h1></div>

      <div class="row">
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-download fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-download"></i> Everything is stored on users' devices &mdash; no corporate gatekeepers.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-thumbs-up fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-thumbs-up"></i> Filter all content using your web of trust.</p></div></div>
        <div class="col-sm-4"><div class="align-center"><i class="hidden-xs fa fa-check fa-5x mar-bot20"></i><p><i class="hidden-sm hidden-md hidden-lg fa fa-check"></i> Keep your contacts and trusted online identity up-to-date.</p></div></div>
      </div>

      <p class="align-center mar-top15" style="margin-bottom:0"><a ui-sref="about">Read more</a></p>
    </div>
    <div ng-if="!authentication.user" class="mar-top25-xs"></div>

    <div id="messages" class="row">
      <div class="col-md-4">
        <div class="hidden-xs hidden-sm" ng-include="'app/messages/filters.partial.html'"></div>
      </div>
      <div class="col-md-8">
        <div ng-include="'app/main/createuser.partial.html'"></div>
        <div ng-include="'app/main/getstarted.partial.html'"></div>

        <div ng-include="'app/messages/create.partial.html'"></div>
        <div class="visible-xs visible-sm" ng-include="'app/messages/filters.partial.html'"></div>
        <div infinite-scroll="find()" infinite-scroll-distance="1" infinite-scroll-disabled="true">
          <message ng-repeat="msg in msgs.list | filter:msgFilter | orderBy:'data.timestamp' : true as filteredMsgs" ipfs="ipfs" msg-data="msg" ng-click="openMessage($event, msg, 'lg')"></message>
        </div>
        <div class="alert alert-info text-center" ng-if="!filteredMsgs.length">
          No messages yet
        </div>
      </div>
    </div>
  </section>
</div>
