<div class="container">
  <section>
    <div id="messages" class="row">
      <div class="col-md-4">
        <div ng-include="'app/messages/filters.partial.html'"></div>
      </div>
      <div class="col-md-8">
        <div infinite-scroll="find()" infinite-scroll-distance="2" infinite-scroll-disabled="!apiReady || msgs.loading || msgs.finished" infinite-scroll-listen-for-event="msgScrollCheck">
          <message msg-data="msg" ng-repeat="msg in msgs.list | filter:msgFilter" ng-click="openMessage($event, msg, 'lg')"></message>
        </div>
        <div us-spinner ng-if="!messages.$resolved" style="position:relative;padding:20px"></div>
        <div class="alert alert-info text-center" ng-if="!msgs.loading && !msgs.list.length">
          No messages to show
        </div>
      </div>
    </div>
  </section>
</div>
