<div class="panel-body">
  <p class="">
    <span class="mar-left5 pull-right" ng-class="msg.iconStyle" ng-repeat="n in msg.iconCount track by $index"></span>
    <strong>
      <a ui-sref="identities.show({ type: msg.linkToAuthor[0], value: msg.linkToAuthor[1] })" class="id-link">
        <span class="distance-container mar-right10">
          <identicon id="msg" class="" border="3" width="35" positive-score="msg.author_pos" negative-score="msg.author_neg"></identicon>
          <span ng-if="msg.distance" class="distance" ng-bind="msg.distance | ordinal"></span>
        </span>
        <span ng-bind="(msg.authorIsSelf && info.name)||msg.author_name||msg.linkToAuthor[1]"></span>
      </a>
    </strong>
    <small><i class="glyphicon glyphicon-play"></i></small>
    <a ui-sref="identities.show({ type: msg.linkToRecipient[0], value: msg.linkToRecipient[1] })" ng-bind="(msg.recipientIsSelf && info.name)||msg.recipient_name||msg.linkToRecipient[1]" class="id-link"></a>
     - <a ui-sref="messages.show({ id: msg.hash })" ng-bind="msg.data.timestamp|date:'medium'" class="text-muted small" style="display:inline-block;"></a>
  </p>

  <p ng-if="msg.data.type == 'verify_identity' || msg.data.type == 'unverify_identity'">
    <small ng-repeat="recipient in msg.data.recipient">
      {{recipient[0]}}:
      <span ng-if="recipient[0] == 'email' || recipient[0] == 'url'" ng-bind-html="recipient[1] | linky"></span>
      <span ng-if="!(recipient[0] == 'email' || recipient[0] == 'url')" ng-bind="recipient[1]"></span>
      <i class="fa fa-link" ng-if="!$last && msg.data.type == 'verify_identity'"></i>
      <i class="fa fa-chain-broken" ng-if="!$last && msg.data.type == 'unverify_identity'"></i>
    </small>
  </p>

  <p ng-bind-html="msg.data.comment|linky"></p>
</div>
